@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/*============Sign Up section start===========*/
.signup_section {
    background: linear-gradient(
    rgba(105, 105, 105, 0.4),
    rgba(255, 255, 255, 0.5)
  ),
  url(../assets/signup.jpg)
    center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}


.wrapper {
    background-color: white;
    max-width: 630px;
    width: 100%;
    padding: 20px;
}


.wrapper h2 {
    color: teal;
    font-size: 24px;
    font-weight: 500;
}


.wrapper form {
    display: flex;
    flex-wrap: wrap;
}

input {
    flex: 1;
    outline: none;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    max-width: 287px;
}

.disclaimer {
    padding: 10px 0;
}

.terms_service {
    /* padding: 5px 0; */
    font-size: 11px;
}

.button {
    max-width: 580px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
/*============Sign Up section end===========*/



/*============Sign In section start===========*/
.signin_section {
    background: linear-gradient(
    rgba(114, 114, 114, 0.4),
    rgba(255, 255, 255, 0.5)
  ),
  url(../assets/signin.jpg)
    center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

.signin_wrapper {
    background-color: white;
    max-width: 630px;
    width: 100%;
    padding: 20px;
}

.signin_wrapper h2 {
    color: teal;
    font-size: 24px;
    font-weight: 500;
}


.signin_wrapper form {
    display: flex;
    flex-direction: column;
}

.signin_wrapper input {
    flex: 1;
    outline: none;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    max-width: 580px;
}